<div class= "page">
	<h2 class="headeline">
		Editing Book
	</h2>

	<div class="edit">

		<%= render "layouts/error_messages" %>

		<%= form_for(@book) do |b| %>

			<p class="new-text">Title</p>
			<%= b.text_field :title %>

			<p class="new-text clearifx">Body</p>
			<%= b.text_area :body %>

			<p class="new-text"></p>
			<%= b.submit 'Update Book' %>
		<% end %>
	</div>

	<div class="show-transition">
		<div class="trans-box show-block">
			<%= link_to 'Show', book_path(@book) %>
		</div>

		<p class="trans-box show-block">|</p>

		<div class="trans-box">
			<%= link_to 'Back', books_path %>
		</div>
	</div>
