<% if @book.errors.any? %>
	<div class="error-box">
		<h5 class="error-title"><%= @book.errors.count %> error prohibited this book from being saved:</h5>
		<div class="error-box-text">
			<ul>
				<% @book.errors.full_messages.each do |message| %>
				<li class="error-text"><%= message %></li>
				<% end %>
			</ul>
		</div>
	</div>

	<%= form_for(@book) do |b| %>
		<p class="error-title-text">Title</p>
			<div class="error-format">
		 		<%= b.text_field :title %>
			</div>

		<p class="error-title-text clearifx">Body</p>
			<div class="error-format">
				<%= b.text_area :body %>
			</div>

		<p class="new-text"></p>
			<%= b.submit 'Update Book' %>
	<% end %>

<% else %>

	<%= form_for(@book) do |b| %>
		<p class="new-text">Title</p>
		<%= b.text_field :title %>

		<p class="new-text clearifx">Body</p>
		<%= b.text_area :body %>

		<p class="new-text"></p>
		<%= b.submit 'Update Book' %>
	<% end %>

<% end %>
